# VALID CREDENTIALS
VALID_EMAIL_1 =
VALID_PASSWORD_1 =

VALID_EMAIL_2=
VALID_PASSWORD_2 =

VALID_EMAIL_3 =
VALID_PASSWORD_3 =

VALID_EMAIL_4 =
VALID_PASSWORD_4 =

VALID_EMAIL_5 =
VALID_PASSWORD_5 =



# INVALID CREDENTIALS
INVALID_EMAIL_1 =
INVALID_PASSWORD_1 =

INVALID_EMAIL_2 =
INVALID_PASSWORD_2 =

INVALID_EMAIL_3 =
INVALID_PASSWORD_3 =

INVALID_EMAIL_4 =
INVALID_PASSWORD_4 =

INVALID_EMAIL_5 =
INVALID_PASSWORD_5 =